<!DOCTYPE html>
<html>
<head>
	<title>Iris Flower Classification</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		body {
		  
			  background-image: url('/static/iris3.jpg');
			  background-size: auto;
			  background-repeat: no-repeat;
			  background-size: 1500px 1000px;
		}

	</style>
</head>
<body>

	
	<div class="w3-panel w3-pale-yellow w3-center">
		  <h1 class="w3-text-blue" style="text-shadow:1px 1px 0 #444">
		  <b>Iris flower classification using Machine Learning</b></h1>
	</div>
	<div class="w3-card w3-center w3-text-white w3-padding-16">
	    <form class="w3-container w3-left-align" style="padding:10px 300px 20px 300px;" method="POST" action="/">
			  <p class="w3-text-white" style="font-size: 20px;">
			  <label>Enter sepal length between 4 to 8:</label>
			  <input class="w3-input" step="0.001" type="number" style="opacity: 0.5;" name="sepal-length" id="sepal-length" value="0"></p>

			  <p class="w3-text-white" style="font-size: 20px;">
			  <label>Enter sepal width between 2 to 5:</label>
			  <input class="w3-input" step="0.001" type="number" style="opacity: 0.5;" name="sepal-width" id="sepal-width" value="0"></p>

			  <p class="w3-text-white" style="font-size: 20px;">
			  <label>Enter petal length between 1 to 7:</label>
			  <input class="w3-input" step="0.001" type="number" style="opacity: 0.5;" name="petal-length" id="petal-length" value="0"></p>

			  <p class="w3-text-white" style="font-size: 20px;">
			  <label>Enter petal width between 0 to 3</label>
			  <input class="w3-input" step="0.001" type="number" style="opacity: 0.5;" name="petal-width" id="petal-width" value="0"></p>
			  
			  <input class="w3-input w3-blue w3-hover-green w3-btn" type="submit" value="Predict">
		</form>

	</div>

	<div class="w3-card w3-teal w3-text-yellow">

		<h1 style="font-size: 40px;">{{ prediction }}</h1>
		
	</div>
		
	
	
	

</body>
</html>